.checkbox {
  display: inline-flex;
  margin: 2px 0;
}

.CheckboxInput {
  width: 15px;
  appearance: auto;
  margin-right: 11px;
}

.checkboxText {
  font-family: 'TT TRAVELS', serif;
  font-weight: 400;
  font-size: 14px;
}

