.forms {
  display: flex;
  flex-direction: column;
  margin: 26px 0 0 24px;
  width: 400px;
}

.formContainer {
  display: inline-grid;
  margin-bottom: 23px;
}

.buttonContainer {
  margin: 24px 0 0 24px;
}