.thirdStepContainer {
  border: 1px solid #fff;
  border-radius: 24px;
  background-color: #fff;
  width: 900px;
  height: 500px;
  margin: 24px auto;
}

.imgStep3 {
  margin: 60px 0 34px 110px;
}

.forms {
  display: flex;
  flex-direction: column;
  margin: 68px 108px 0 111px;
}

.buttonContainer {
  color: #FFF;
  display: flex;
  justify-content: space-between;
  width: 689px;
  margin: 63px 0 0 110px;
}



